

.CardStyle{

   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    /*background-color: #e7e7e7 !important;*/
    background-color: #042331 !important;
}


.dashboard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Gap between columns */
}

.side-by-side {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 20px; /* Gap between columns */
}
