.addmodal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border: 2px solid #000;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
    padding: 24px
}

.addmodaltitle  {
    display: flex;;
    justify-content: center;
}
.textfeildStyle{
    position: absolute;
    backgroundColor:blue;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.submitbtn{
    justify-content: center;
    display: flex;
    margin-top: 10px;

}

