.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 16px;
    background: white;
}

.typo {
    display: flex;
    justify-content: center;
     background: rgb(237, 239, 245);

}

.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}
