name: Deploy New User Terraform

on:
  push:
    branches:
      - main
    paths:
      - "projects/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 1️⃣ Find all added folders in this commit
      - name: Detect new user
        id: user
        run: |
         echo "Before commit: ${{ github.event.before }}"
         echo "Current commit: ${{ github.sha }}"

         CHANGED_FILES=$(git diff --name-only ${{ github.event.before }} ${{ github.sha }})
         echo "Changed files:"
         echo "$CHANGED_FILES"

         USER_ID=$(echo "$CHANGED_FILES" \
          | grep '^projects/' \
          | cut -d/ -f2 \
          | sort -u \
          | head -n 1)

         if [ -z "$USER_ID" ]; then
         echo "❌ No new user found"
         exit 1
         fi

          echo "✅ Detected user: $USER_ID"
          echo "user_id=$USER_ID" >> $GITHUB_OUTPUT

      - name: Debug user_id
        run: echo "${{ steps.user.outputs.user_id }}"
        
      - name: Trigger Terraform Repo
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.TOKEN }}
          script: |
            if ("${{ steps.user.outputs.user_id }}" != "") {
              await github.actions.createWorkflowDispatch({
                owner: 'zeeshanali3',
                repo: 'framework-infra',
                workflow_id: 'deploy-user-terraform.yml',
                ref: 'main',
                inputs: {
                  user_id: '${{ steps.user.outputs.user_id }}'
                }
              })
            }


