name: "Generate Performance PDF"
on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Run Script
        id: metadata
        run: |
          # We pass the filename from Python to GitHub Environment
          FNAME=$(python scripts/generate_report.py)
          echo "REPORT_NAME=$FNAME" >> $GITHUB_OUTPUT

      - name: Markdown to PDF
        uses: baileyjm02/markdown-to-pdf@v1
        with:
          input_path: report.md
          output_path: ${{ steps.metadata.outputs.REPORT_NAME }}.pdf

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.metadata.outputs.REPORT_NAME }}
          path: ${{ steps.metadata.outputs.REPORT_NAME }}.pdf
